*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
 .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(grid2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
 }
 .mar{
    margin-top: 20px;
    font-size: 20px;
 }
.header{
    position: fixed;
    left: 0;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    height: 50px;
    width: 50px;
    padding-top: 20px;
    padding-left: 30px;
}
.logos{
    height: 25px;
    width: 200px;
    background-image: url(logo.png); 
    background-size:contain;
}
.navbar a{
    font-size: 25px;
    margin: 50px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: green;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding-left: 10rem;
}
.about-text{
    padding-top: 10rem;
    width: 500px;
}
.about-text h1{
    font-size: 100px;
    font-weight: 600;
}
font{
    color: green;
}
.about-text h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
    line-height: 0.5rem;
    margin: 15px 0px 30px;
}
.about-text p{
    color: white;
    font-size: 30px;
    line-height: 1.5rem;
    /* font-weight: 600; */
}
.photo{
    padding-top: 7rem;
    padding-right: 10rem;
    height: 500px;
    width: 50%;
}
#pic{
    height: 500px;
    width: 700px;
    filter: drop-shadow(20px 7px 20px black);
}