*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    height: 100%;
    width: 100%;
}
 /* .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(grid2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
 } */
 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    filter:blur(5px);
 }
 .mar{
    margin-top: 20px;
    font-size: 20px;
 }
.header{
    position: fixed;
    left: 0;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    height: 50px;
    width: 50px;
    padding-top: 20px;
    padding-left: 30px;
}
.logos{
    height: 25px;
    width: 200px;
    background-image: url(logo.png); 
    background-size:contain;
}
.navbar a{
    font-size: 25px;
    margin: 50px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: green;
}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-left: 5rem;
    position: relative;
}
.heading1{
    padding-top: 2rem;
    width: 100%;
    /* margin-left: 20px; */
}
.heading1 h1{
    font-size: 100px;
    font-weight: 600;
}
.heading1 h3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
    /* line-height: 0.5rem; */
    margin: 15px 0px 30px;
}
font{
    color: green;
}
.photo{
    padding-top: 7rem;
    padding-right: 5rem;
    height: 600px;
    width: 50%;
}
#pic{
    margin-top: 70px;
    height: 300px;
    width: 600px;
    filter: drop-shadow(20px 7px 20px #000);
}

#about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#about-text{
    width: 70%;
    /* background-color: black;
    border: 2px solid green;
    border-radius: 10px; */
}
#about-text h1{
    font-size: 70px;
    text-align: center;
    padding-bottom: 10px;
}
#about-text p{
    font-size: 25px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: 900;
}
#btn{
    height: 50px;
    width: 120px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 0 20px green;
    text-align: center;
    margin-left: 40%;
    margin-top: 10px;
}
#btn:hover{
    background-color: black;
    box-shadow: 0 0 30px green,0 0 50px green;
}
