*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    color: white;
}
body{
    background-image: url(back21.jpg);
    fill-opacity: calc(100%);
    background-size: cover;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 20px 10%; */
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    height: 50px;
    width: 50px;
    padding-top: 10px;
    padding-left: 30px;
    /* background-color: black; */
}
.logos{
    height: 25px;
    width: 200px;
    background-image: url(logo.png); 
    background-size:contain;
    /* background-color: black; */
}
/* .navbar{
    background-color: black;
} */
.navbar a{
    font-size: 25px;
    margin: 50px;
    color: white;
    text-decoration: none;
    /* background-color: black; */
}
.about{
    /* background-color: white; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding-left: 10rem;
}
.about-text{
    padding-top: 10rem;
    width: 400px;
}
.about-text h1{
    font-size: 80px;
}
font{
    color: green;
}
.about-text h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
    line-height: 0.5rem;
    margin: 15px 0px 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4rem;
}
.photo{
    padding-top: 5rem;
    padding-right: 20rem;
    height: 500px;
    width: 50%;
}
#pic{
    height: 500px;
    width: 700px;
    object-fit: cover;
    /* border-radius: 50%; */
}
